<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page title</title>
</head>
<body>
  
  <h1>Hello Wolrd</h1>
  <h1>Helo universe</h1>
  <input type="text">
  <input type="text" readonly>
  
<script>

const getEl = (selector, type = "") => {
  
  const qs = 
    type.toLowerCase() === "all" 
    ? "querySelectorAll" 
    : "querySelector";
  
  return document[qs](selector);
  
};

const getProperty = (obj, type) => {
  
  if ( typeof obj !== "object" ) return false;
  
  const result = [];
  
  for ( const key in obj ) {
    
    result.push(key);
    
  }
  
 return type 
   ? result.filter(r => typeof obj[r] === type)
   : result;
  
};

getEl("input", "all").forEach((input, i, arr) => {
  
  input.addEventListener("focus", e => {
    
    input.previousElementSibling
      .classList.add("show");
    
    input.style.backgroundColor = "blue";
    
  });
  
  input.addEventListener("blur", e => {
    
    input.previousElementSibling
        .classList.remove("show");
        
    input.style.backgroundColor = "red";
    
  });
  
  input.addEventListener("keydown", e => {
    
    if ( e.key === "Enter" ) {
      
      console.log(i, getEl("input", "all").length);
      
    }
    
  });
  
});





</script>
</body>
</html>
