:root {
  --nav-bg-color: #8f00ff;
  --nav-color: #eabfff;
  --nav-color-hover: #ffeaff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  width: 100vw;
  height: 150vh;
}

/* Navbar */
nav {
  background-color: var(--nav-bg-color);
  color: var(--nav-color);
  height: var(--nav-height);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  &[fixed="true"] {
    position: fixed;
    width: 100%;
  }
  
  & .logo {
    order: 1;
  }
  
  & ul {
    list-style: none;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    
    position: absolute;
    top: var(--nav-height);
    left: 0;
    height: calc( 100vh - var(--nav-height) );
    margin: auto;
    padding: 12px 8px;
    background-color: var(--nav-bg-color);
    z-index: 2;
    
    transition: 
      0.9s cubic-bezier(0.8, -0.4, 0.3, 1.33);
    transform: translate(0, -130%);
    opacity: 0;
  }
  
  & li {
    width: var(--nav-li-width);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    border-radius: 4px;
    
    &.magic-li {
      position: absolute;
      width: var(--nav-li-width);
      background-color: transparent;
      border: 1px solid violet;
      border-radius: 0;
      transition: margin-top 0.5s;
      pointer-events: none;
      box-shadow: 
        0 0 4px violet;
    }
    
    &.last {
      margin-top: auto;
    }
    
    & a {
      color: var(--nav-color);
      text-decoration: none;
         
      &:hover {
        color: var(--nav-color-hover);
      }
    }
  }
}


/* Hamburger Menu */
.hamburger-menu {
  height: 20px;
  position: relative;
  
  display: none;
  flex-direction: column;
  justify-content: space-between;
  
  & input {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    opacity: 0;
    
    cursor: pointer;
    z-index: 2;
    
    &:checked ~ span {
      background-color: white;
      
      &:nth-child(2) {
        transform: 
          rotate(45deg) translate(-1px, -1px);
      }
      
      &:nth-child(3) {
        transform: scale(0);
        opacity: 0;
      }
      
      &:nth-child(4) {
        transform: 
          rotate(-45deg) translate(-1px, 0);
      }
      
    }
  }
  
  & span {
    width: 28px;
    height: 3px;
    
    border-radius: 3px;
    background-color: var(--nav-color);
    transition: all 0.6s;
    
    &:nth-child(2) {
      transform-origin: 0 0;
    }
    
    &:nth-child(4) {
      transform-origin: 0 100%;
    }
  }
}


/* Responsive Breakpoint */
/* Desktop Only */
@media (max-width: 1448px) {
  nav {
    justify-content: center;
  
    & ul {
      transform: translate(0, 0);
      opacity: 1;
      --nav-li-width: 200px;
    }
  }
}

/* tablet screen / landscape smartphone */
@media (max-width: 768px) {
  nav ul {
  }
}

/* lockscreen smarthone */
@media (max-width: 578px) {
  nav {
    justify-content: space-around;
  
    & ul {
      transform: translate(0, -130%);
      opacity: 0;
      width: 40%;
      --nav-li-width: 120px;
        
      &.show {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }
  
  .hamburger-menu {
    display: flex;
  }
}