<div class="container">

  <h1>Page Login</h1>

  <fieldset>

    <legend>User - Password</legend>

    <form action="" method="POST">
      <div class="input-group">
        <!-- <label for="input-login-username">Username : </label> -->
        <input type="text" id="input-login-username" placeholder="Username..">
      </div>
      <div class="input-group">
        <!-- <label for="input-login-password">Password : </label> -->
        <input type="password" id="input-login-password" placeholder="Password..">
      </div>
      <div class="button-group">
        <button>Cancel</button>
        <button>Submit</button>
      </div>
    </form>
  </fieldset>

</div>