<div class="container">

  <h1 class="refresh">Page Login</h1>

  <fieldset>

    <legend>Authorization</legend>

    <form action="" method="POST">
      <div class="input-group">
        
        <fieldset>
          <legend><span>Username</span></legend>
          <input type="text" id="input-login-username" placeholder="" required>
        </fieldset>
      
        <fieldset>
          <legend><span>Password</span></legend>
          <input type="password" id="input-login-password" placeholder="" required>
        </fieldset>
        
      </div>
      <div class="button-group">
        <button class="button-cancel">Cancel</button>
        <button class="button-submit">Submit</button>
      </div>
    </form>
  </fieldset>

</div>
